platforms/*
node_modules/*
hooks/*
report/*
tmp/
typings/
report/
/app/**/*.js
/app/**/*.map
*.js.map
/keystore/
*.apk
*.ipa
*.jks
webpack.config.js
startup-times.md
package.lock.json
npm-debug.log
test-results.xml
dist/*